.car-card {
  cursor: pointer;

  .panel-heading {
    background-color: $light-gray;
  }

  .panel-heading,
  .panel-footer {
    text-align: center;
    font-weight: bold;
  }

  .panel-body {
    padding: 0;
  }

  .car-card-thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 210px;
  }

}

.cars-filter {
  margin-bottom: 25px;
}

.comparables {
  .car-card {
    &.selected {
      .panel-heading {
        background-color: $blue;
        color: $white;
      }
    }
  }
}