.car-card {

  .panel-heading,
  .panel-footer {
    text-align: center;
  }

  .panel-body {
    padding: 0;
  }

  .car-card-thumbnail {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 210px;
  }
}